{% extends 'stagings/base.html' %}
{% load stagings_extras %}

{% block content %}
  {% include 'stagings/_staging_detail.html' %}

  <div class='vacant-seats'>
    <h2>Tickets</h2>

    {% if form.forms %}
      <form action="{% url 'stagings:create_order' staging.id %}" method='POST'>
        {{ form.management_form }}
        {% csrf_token %}
        <table>
          <thead>
            <tr>
              <th>Zone</th>
              <th>Ticket price</th>
              <th>Total seats</th>
              <th>Available seats</th>
              <th>Paid</th>
              <th>Ordered</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th align='left' colspan='4'>Sum</th>
              <th align='left'>{{ user|paid_tickets_sum:staging.zones }}</th>
              <th align='left'>{{ user|ordered_tickets_sum:staging.zones }}</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            {% for form in form.forms %}
              {{ form.non_field_errors }}
              {% with zone=form.instance.zone %}
                <tr>
                  <td>{{ zone }}</td>
                  <td>{{ zone.ticket_price }}</td>
                  <td>{{ zone.total_seats }}</td>
                  <td>{{ zone.available_seats }}</td>
                  <td>{{ user|paid_seats_for_zone:zone }}</td>
                  <td>{{ user|ordered_seats_for_zone:zone }}</td>
                  <td>
                    {{ form.zone.as_hidden }}
                    {{ form.quantity }}
                    {{ form.quantity.errors }}
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
        <input type='submit' value='Order'></input>
        <a href="{% url 'stagings:index' %}">Cancel order</a>
      </form>
    {% else %}
      <p>There are no available vacant seats.</p>
    {% endif %}
  </div>
{% endblock %}
