{% extends 'stagings/base.html' %}
{% load stagings_extras %}

{% block content %}
  <h2>Zones report</h2>
  {% if zones_report %}
    <table>
      <thead>
        <tr>
          <th>Zone</th>
          <th>Total tickets</th>
          <th>Last tickets</th>
          <th>Unpaid tickets</th>
          <th>Paid tickets</th>
          <th>Earnings</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th align='left' colspan='5'>Total earning</th>
          <th align='left'>{{ zones_report_summary|lookup:'total_earning' }}</th>
        </tr>
      </tfoot>
      <tbody>
        {% for zone_report in zones_report %}
            <tr>
              <td>{{ zone_report|lookup:'zone' }}</td>
              <td>{{ zone_report|lookup:'total_tickets' }}</td>
              <td>{{ zone_report|lookup:'last_tickets' }}</td>
              <td>{{ zone_report|lookup:'ordered_tickets' }}</td>
              <td>{{ zone_report|lookup:'paid_tickets' }}</td>
              <td>{{ zone_report|lookup:'earnings' }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Report is empty</p>
  {% endif %}
  <h2>Unpaid line items report</h2>
  {% if unpaid_orders_report %}
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Details</th>
          <th>Total</th>
        </tr>
      </thead>
      <tfoot>
        <th align='left' colspan='3'>Total</th>
        <th align='left'>{{ unpaid_orders_report_total }}</th>
      </tfoot>
      <tbody>
        {% for order in unpaid_orders_report %}
          <tr>
            <td>{{ order.user }}</td>
            <td>{{ order.date|date:'d.m' }}</td>
            <td>
              {% for line_item in order.lineitem_set.all %}
                {{ line_item }}<br/>
              {% endfor %}
            </td>
            <td>{{ order.total }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Report is empty</p>
  {% endif %}
{% endblock %}
