{% extends 'stagings/base.html' %}

{% block content %}
  <h1>{{ staging.piece }}</h1>
  <dl>
    <dt>Author:</dt>
      <dd>{{ staging.piece.author }}</dd>

    <dt>Genre:</dt>
      <dd>{{ staging.piece.genre }}</dd>

    <dt>Date:</dt>
      <dd>{{ staging.date }}</dd>
  </dl>

  <div class='vacant-seats'>
    <h2>Tickets</h2>

    {% if staging.zones %}
      <table>
        <thead>
          <tr>
            <th>Zone</th>
            <th>Total seats</th>
            <th>Available seats</th>
            <th>Ticket price, BYR</th>
          </tr>
        </thead>
        <tbody>
          {% for zone in staging.zones %}
            <tr>
              <td>{{ zone }}</td>
              <td>{{ zone.total_seats }}</td>
              <td>{{ zone.available_seats }}</td>
              <td>{{ zone.ticket_price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>There are no available vacant seats.</p>
    {% endif %}
  </div>
{% endblock %}
