.pull-left {
  float: left;
}

.pull-right {
  float: right;
  clear: right;
}

.clearfix { clear: both; }

body { width: 940px; margin:0px auto; }
table { width: 100%; border-style: solid; border-width: 1px; }
table thead tr { border-bottom: 1px solid; }
table td { padding: 3px; }
