.pull-left {
  float: left;
}

.pull-right {
  float: right;
  clear: right;
}

.clearfix { clear: both; }

body { width: 940px; margin:0px auto; }
table { width: 100%; border: 1px solid; border-collapse: collapse; }
table tbody td { border: 1px solid; border-style: inset; }
table thead th { border: 1px solid; border-style: inset; }
